# Paths
AURES_DATA_RAW=./data/raw
AURES_DATA_INTERIM=./data/interim
AURES_DATA_PROCESSED=./data/processed

# Optional tracking
WANDB_API_KEY=

# Optional CDS/Copernicus credentials (if needed later)
CDSAPI_URL=
CDSAPI_KEY=
